.App {
  text-align: center;
  background-color: #282c34;
  width:100%;
}
@font-face {
  font-family: 'zenzidou';
  src: url('./zenzidou.ttf');
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.how_to_use {
  margin:20px;
  color: white;
}

.form {
  color:white;
  textarea {
    width:100%;
    height:70vh;
  }
}

.letter_text {
  background-color: beige;
  font-family :'zenzidou';
  height:80vh;
  position: relative;
  span {
    display:block;
    width:100%;
    border-bottom :1px dashed #000;
    text-align: left;
    padding-left: 30px;
    margin:0;
  }
  .dear_santa {
    padding-left: 20px !important;
  }
  .from_name {
    text-align: right;
    padding-right:50px;
    position: absolute;
    bottom: 0;
  }
}


